* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: left;
    padding: 20px;
    font-size: 60px;
}

.board-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    margin: 50px;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    box-shadow: 5px 5px 5px lightgray;
}

button {
    cursor: pointer;
}

.turn {
    font-size: 40px;
    text-align: center;
}

.cell {
    font-family: "Permanent Marker", sans-serif;
    font-size: 30px;
    height: 100px;
}
  
.buttons {
    margin: 20px;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.new-game, .play-again {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    min-width: 120px;
    height: 50px;
    font-size: 20px;
    box-shadow: 5px 5px 5px lightgray;
}

@media only screen and (min-width:768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      
    }

    .cell {
        font-size: 70px;
        height: 200px;
    }

    .turn {
        font-size: 42px;
        margin-left: 38px;
        margin-bottom: 10%;
    }

    .new-game, .play-again {
        min-width: 170px;
        height: 50px;
    }

  }

.new-game {
    background-color: rgb(202, 255, 191);
}

.play-again {
    background-color: rgb(243, 205, 148);
}

.submit:hover, .new-game:hover, .play-again:hover {
    transform: scale(1.05);
}

dialog {
    margin: 100px auto;
    min-width: 30%;
    background-color: darkgrey;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

dialog::backdrop {
    background-color: white;
    opacity: 100%;
}

.close-dialog {
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
}

h3 {
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

ul {
    padding: 0;
    width: 95%;
 }

.player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.form-input {
    list-style: none;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    }

.text-input {
    background-color: lightgray;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 4px 20px 0;
    height: 50px;
    margin: 15px 0;
    width: 78%;
 }

 .submit {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    min-width: 150px;
    height: 50px;
    font-size: 18px;
}

.player-one {
    color: red;
}

.player-two {
    color: blue;
}