* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: left;
    padding: 20px;
    font-size: 60px;
   }

main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
   
    margin: 50px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 5px 5px 5px lightgray;
}

button {
    cursor: pointer;
}
.turn {
font-size: 50px;
width: 300px;
margin-left: 50px;
}

.cell {
    font-family: "Montserrat", sans-serif;
    height: 200px;
    width: 200px;
    font-size: 50px;
}
.buttons {
    margin: 20px;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.new-game, .play-again {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    min-width: 170px;
    height: 50px;
    font-size: 1.3em;
    box-shadow: 5px 5px 5px lightgray;
}
.new-game {
    background-color: rgb(202, 255, 191);
}

.play-again {
    background-color: rgb(243, 205, 148);
}

dialog {
    margin: 100px auto;
    min-width: 30%;
    background-color: darkgrey;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

dialog::backdrop {
    background-color: white;
    opacity: 100%;
  }

.close-dialog {
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
}

h3 {
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

ul {
    padding: 0;
    width: 95%;
 }
.player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.form-input {
    list-style: none;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    }

.text-input {
    background-color: lightgray;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    padding: 4px 20px 0;
    height: 50px;
    margin: 15px 0;
    width: 78%;
 }

 .submit {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    min-width: 150px;
    height: 50px;
  font-size: 18px;
}

button:hover {
    transform: scale(1.05);
}